{% extends "cbtonline/views/templates/basebg.html" %}
{% block content %}

<div class="panel panel-default">
    <div class="panel-body">
      <div class="row">
        <div align="center">
          <div class="text-default">
            <h4>
              Akun anda belum diaktivasi! Klik link aktivasi pada email yang sebelumnya
              diterima atau klik <a href="/aktivasi-lagi/{{nis}}">link ini</a> untuk menerima
              email aktivasi baru.
            </h4>
          </div>
        </div>
      </div>
      <br>
  </div>
</div>
</body>
</html>
{% endblock %}
