<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>UJIAN ONLINE ZENIUS</title>
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/bootstrap.theme.css" rel="stylesheet">
    <script src="jquery/jquery-1.12.2.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="css/custom.css">
</head>
<body class="login-background">

{% if user %}
  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 class="text-center">
      Selamat Datang {{nama}} !
      </h4>
    </div>
  </div>
  <nav class="navbar navbar-default">
    <div class="container-fluid">
       <ul class="nav navbar-nav navbar-left">
          <li><a href="/home-test">HOME</a></li>
         <li><a href="/lihat-hasil">HASIL TEST</a></li>
         <li><a href="/sim-ppdb">SIMULASI PPDB SMA</a></li>
         <li><a href="/sim-sbmptn">SIMULASI SBMPTN</a></li>
         <!--
            <li><a href="/home-input-nomer">IKUT PEMBAHASAN</a></li>
          -->

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/ganti-pw">GANTI PASSWORD</a></li>
         <li><a href="/home-logout">LOGOUT</a></li>
      </ul>

    </div>
  </nav>


{% endif %}
{% block content %}
{% endblock %}

</body>
</html>
